table.table-yui-kit {
  border: none;
  margin-top: 0;
  font-size: 14px;
  table-layout: fixed;
  width: 100%;
}

table.table-yui-kit td {
  border: initial;
  text-align: left;
}

table.table-yui-kit {
  & th.table-yui-kit__th:last-child,
  td.table-yui-kit__td:last-child {
    border-right: none;
  }
}

table.table-yui-kit th.table-yui-kit__th:first-child {
  border-radius: 15px 0 0;
}

table.table-yui-kit th.table-yui-kit__th:last-child {
  border-radius: 0 15px 0 0;
}

table.table-yui-kit tbody.table-yui-kit__tbody {
  display: block;
  width: calc(var(--width, 26.9vw) + 10px);
  height: calc(100vh - 509px - var(--offset-height, 0px));
  overflow-y: hidden;
  /*clip-path: inset(0 round 0px 0px 30px 15px);*/
  margin-bottom: 15px;

  &.table-file-body {
    margin-bottom: 15px;
  }

  &:hover {
    overflow-y: auto;
  }

  & tr.table-yui-kit__tr {
    display: table;
    width: var(--width, 26.9vw);
    table-layout: fixed;

    &:last-child {
      & td.table-yui-kit__td {
        border-bottom: 0.5px solid #e0e0e0;
      }
    }
  }
}

.base-file-page {
  & .main_table_control {
    justify-content: space-between;

    div.table-yui-kit__border {
      width: 21vw;

      & table.table-yui-kit tbody.table-yui-kit__tbody {
        width: calc(21vw + 10px);

        & tr.table-yui-kit__tr {
          width: 21vw;
        }
      }
    }
  }
}

table.table-yui-kit tr.table-yui-kit__tr {
  & td.table-yui-kit__td-search {
    border-bottom: 0.5px solid #e0e0e0;
  }
}

table.table-yui-kit
  tr.table-yui-kit__tr:has(td.table-yui-kit__td-search):hover {
  --background: var(--white);
  background: var(--background) !important;
}

table.table-yui-kit th.table-yui-kit__th {
  height: 66px;
  color: #1d2433;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.warning-block {
  float: right;
  color: #ffb833;
  margin: -2px 2px;
  height: 20px;
  vertical-align: middle;

  &.small {
    margin-top: 1px;
  }

  &:hover {
    color: #ffb833;
  }
}
